body {
  margin: 0;
  background: #000022;
  font-family: sans-serif;
  color: white;
  overflow: hidden;
}

canvas {
  display: block;
  margin: 0 auto;
  background: #002733;
  border: 2px solid #fff;
}
